* {
 margin:0;
 padding:0;
 box-sizing:border-box;
}

html {
 font-size:9px;
}

body {
 font-family: 'Zen Kaku Gothic New', sans-serif;
}

#head-element {
 max-width:90%;
 margin:auto;
 display:flex;
 justify-content:space-between;
 padding:30px 0;
}

#head-element h1 {
 font-size:3.0rem;
 margin-top:10px;
}

#head-element #call-div {
 background:#111;
 border:1px solid #111;
 border-radius:5px;
 padding:0 10px;
 display:flex;
 align-items:center;
}

#call-icon {
 height:25px;
 width:25px;
}

#head-element a {
 font-size:1.1rem;
 text-decoration:none;
 color:#fff;
 padding-left:10px;
}

#hero-section {
 max-width:100%;
 background-image:url("images/hero.jpg");
 height:270px;
 color:#fff;
 text-align:center;
 background-color: #111; 
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover;
}

#hero-section h2 {
 max-width:90%;
 margin:auto;
 font-size:2rem;
 padding:35px 0 20px;
 text-shadow: 2px 2px 4px #000000;
}

#hero-section p {
 max-width:90%;
 margin:auto;
 font-size:1.4rem;
 padding:5px 0 40px;
 text-shadow: 2px 2px 4px #000000;
}

#hero-section a {
 font-size:1.5rem;
 text-decoration:none;
 color:#111;
 background:#fff;
 padding:10px;
 border:1px solid #fff;
 margin:30px 0 ;
 border-radius:5px;
}

#second-section {
 max-width:90%;
 margin:auto;
 padding:50px 0;
}

#second-section h3 {
 text-align:center;
 font-size:2.3rem;
 margin-bottom:30px;
}

#service-div {
 max-width:90%;
 margin:auto;
}

#service-div h4 {
 font-size:1.6rem;
 margin-bottom:10px;
}

#service-div p {
 font-size:1.3rem;
 margin-bottom:10px;
}

.service-elements {
 margin:35px 0;
 box-shadow: 0 4px 8px 0 #aaa;
 transition: 0.3s;
 border-radius: 5px;
 padding:25px 40px;
}

.icons {
 height:70px;
 width:70px;
 margin-bottom:10px;
}

#testimonials {
 margin:auto;
 max-width:85%;
}

#testimonials h5 {
 font-size:2.3rem;
 text-align:center;
 margin-bottom:30px;
}

#testimonial-wrapper {
 max-width:100%;
 box-shadow: 0 4px 8px 0 #aaa;
}

#testimonial-wrapper div {
 text-align:center;
 border-bottom:1px solid #111;
 padding:20px 0 ;
}

#testimonials h6 {
 font-size:1.2rem;
}

.testimonial-images {
 width:90%;
 margin:15px 0;
 border-radius:10px;
}

#footer-section {
 width:100%;
 background:#111;
 margin-top:50px;
 color:#fff;
}

#footer-section h6 {
 font-size:2.3rem;
 padding:30px 25px;
}

#footer-section a {
 text-decoration:none;
 font-size:1.3rem;
 color:#fff;
 padding:2px 0;
}

#footer-section h5 {
 font-size:1.5rem;
 padding-bottom:15px;
}

#footer-info {
 display:flex;
 justify-content:space-around;
 flex-direction:column;
 text-align:center;
}

#contact {
 margin-bottom:40px;
 display:flex;
 flex-direction:column;
}

#contact div a {
 padding:20px 10px 0;
}

#footer-nav {
 display:flex;
 flex-direction:column;
 margin-bottom:40px;
}

.footer-icons {
 height:30px;
 width:30px;
}

@media only screen and (min-width: 500px) {
 html {
  font-size:13px;
 }

 #hero-section {
  height:385px;
 } 
}


@media only screen and (min-width: 900px) and (orientation: landscape ) {

  html {
   font-size:18px;
  }
  
  #hero-section h2 {
   max-width:60%;
  }
  
  #hero-section p {
   max-width:60%;
  }
 
  #service-div {
   display:grid;
   grid-template-columns:repeat(2, 2fr);
   grid-gap:50px;
   margin-bottom:50px;
  }
 
 .service-elements {
   margin:0;
 }

 #testimonial-wrapper {
   display:grid;
   grid-template-columns:repeat(2, 2fr);
   grid-gap:50px;
 }

 #footer-info {
   flex-direction:row;
 }

 #footer-section h6 {
  text-align:center;
 }
 
}



@media only screen and (min-width: 1400px) {
 #service-div {
  grid-template-columns:repeat(4, 2fr);
 }

 #testimonial-wrapper {
  grid-template-columns:repeat(4, 2fr);
 }
}
